.panel {
    background: linear-gradient(to right, #2980b9, #2c3e50);
    color: aliceblue;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    width: 80%;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
}

.panel-heading {
    padding: 20px 15px;
}

.table-responsive {
    overflow-x: auto;
}

thead tr th {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}

.panel .panel-body .res-list tbody tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.05);
}

td {
    padding: 10px;
}

td .action-list {
    padding-left: 1px;
}

.action-list {
    list-style: none;
}

.action-list li {
    float: right;
}

.btn {
    font-size: 14px;
    margin-left: 5px;
}

td.roomNo {
    width: 5%;
    text-align: center;
}

.no-res {
    padding: 50px;
    text-align: center;
}