<app-home></app-home>
<div class="container" style="max-width: 40%;">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="my-3">
            <label>Check-in Date</label>
            <input class="form-control"  type="date" formControlName="checkInDate">
            <div class="inv-mess"
                *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check-In
                Date is required</div>
        </div>
        <div class="my-3">
            <label>Check-out Date</label>
            <input  class="form-control" type="date" formControlName="checkOutDate">
            <div class="inv-mess"
                *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check-Out Date is required</div>
        </div>
        <div class="my-3">
            <label>Guest Name</label>
            <input  class="form-control" type="text" formControlName="guestName">
            <div class="inv-mess"
                *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">Name is
                required</div>

        </div>
        <div class="my-3">
            <label>Guest E-mail</label>
            <input class="form-control" type="email" formControlName="guestEmail">
            <div class="inv-mess"
                *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                E-mail is required</div>

        </div>
        <div class="my-3">
            <label>Room Number</label>
            <input  class="form-control" type="number" formControlName="roomNumber">
        </div>
        <button class="btn btn-primary my-3" type="submit" [disabled]="reservationForm.invalid">Submit</button>
    </form>
</div>